body {
  margin: 0;
  min-height: 100vh; /* Set a minimum height to ensure the background image doesn't get too small */
  overflow: hidden;
  background-image: url("../public/bubka.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; /* Prevent image repetition */
  color: white;
  font-family: "Poppins", sans-serif;
  display: grid;
  place-items: center;
  /* Apply the blur effect */
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  max-width: 100%; /* Ensure the container never exceeds the screen width */
  max-height: 100%; /* Ensure the container never exceeds the screen height */
  margin: 0 auto; /* Center the container horizontally on the screen */
  overflow: hidden;
}
